.container
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.intrebare
{
    font-size: 30px;
    font-weight: bold;
    color: blue;
}

.butoane
{
    display: flex;
    justify-content: center;
    margin: 50px;
}

.piatra
{
    color: wheat;
    background-color: black;
    margin: 30px;
    width: 150px;
    height: 50px;
}

.hartie
{
    background-color: wheat;
    color: black;
    margin: 30px;
    width: 150px;
    height: 50px;
}

.foarfeca
{
    background-color:brown;
    color:aquamarine;
    margin: 30px;
    width: 150px;
    height: 50px;
}

.scor
{
    display: flex;
    gap:30px;
    align-items: center;
    justify-content: center;
    margin: 10px;
    
}

#om
{
    display: flex;
    border: 1px solid black;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
}
#computer
{
    display: flex;
    border: 1px solid black;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
}
.tinescorul
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.egal
{
    display: flex;
    justify-content: center;
}